body {background-color:black;}
h1{
	color:#808080;
	font-family: tahoma;
	font-weight: bold;
}
.lb{
	width: 100px;
	display: inline-block;
}
.name{
	text-align: center;
}
.form_count{
	width: 475px;
	margin: auto;
	
}
.info{
	width: 300px;
	margin: 0 auto;
}
.field{
	border-radius: 35px; 
	background-color: white;
}
.res{
	line-height: 3px;
	display: none;
}
.val{
	background-color: yellow;
}

